 .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
 }
 #text {
          padding: 10px;
 }
 #school {
          height: 25px;
          align-self: center;
 }
 #spacer {
          width: 10px;
 }
 #button {
          align-self: center;
          height: 25px;
          line-height: 1.2;
          justify-content: center;
          align-items: center;
          padding-top: 0.1em;
          padding-bottom: 1em;
          border-radius: 0.375em;
 }
 .progress-bar-container {
          visibility: hidden;
          width: 500px;
          height: 25px;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          border-color: black;
          border-style: solid;
          border-width:2px;
}
        
.progress-bar {
          position: absolute;
          height: 100%;
          width: 0%;
          background-color: #37a7e3;
          display: flex;
}
#updates {
          font-size: 15px;
          padding:0px;
}
#percent {
          padding:0px;
          font-size: 50px;
          color: rgb(255, 100, 100);
}
